In [1]:
import pandas as pd
import re
import matplotlib as plt
import numpy as np
import requests
from bs4 import BeautifulSoup

sant = pd.read_csv("santander.csv") 
bank = pd.read_csv("bankinter.csv")
sab = pd.read_csv("banco-sabadell.csv")
bbva = pd.read_csv("bbva.csv")
caixa = pd.read_csv("caixabank.csv")
banks = [sant, bank, sab, bbva, caixa]

In [15]:
def Date_digits(df):
    return int(df[:4])

for x in banks:
    x["Date"] = x["Date"].apply(Date_digits)

In [16]:
def Cut_year(df):
    return df>2014

sant = sant[(sant["Date"].apply(Cut_year))]
bank = bank[(bank["Date"].apply(Cut_year))]
sab = sab[(sab["Date"].apply(Cut_year))]
bbva = bbva[(bbva["Date"].apply(Cut_year))]
caixa = caixa[(caixa["Date"].apply(Cut_year))]


sant["Bank"]="Santander"
bank["Bank"]="Bankinter"
sab["Bank"]="Banco Sabadell"
bbva["Bank"]="BBVA"
caixa["Bank"]="Caixa Bank"

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [17]:
sant = sant.groupby(["Bank","Date"])["Close", "High", "Low", "Open", "Volume"].mean()
bank = bank.groupby(["Bank","Date"])["Close", "High", "Low", "Open", "Volume"].mean()
sab = sab.groupby(["Bank","Date"])["Close", "High", "Low", "Open", "Volume"].mean()
bbva = bbva.groupby(["Bank","Date"])["Close", "High", "Low", "Open", "Volume"].mean()
caixa = caixa.groupby(["Bank","Date"])["Close", "High", "Low", "Open", "Volume"].mean()

In [18]:
df = pd.concat([sant, bank, sab, bbva, caixa])
df.head(50)

                        Close      High       Low      Open        Volume
Bank           Date
Santander      2015  5.746781  5.817719  5.678625  5.755426  5.970035e+07
               2016  3.916934  3.981230  3.851837  3.916840  6.189440e+07
               2017  5.500894  5.555306  5.444749  5.500557  7.184282e+07
               2018  4.816761  4.869902  4.775475  4.828694  7.393420e+07
               2019  4.222191  4.267709  4.173809  4.221427  8.488136e+07
Bankinter      2015  6.758078  6.837316  6.676703  6.762086  3.318364e+06
               2016  6.466226  6.540109  6.386774  6.459844  2.413643e+06
               2017  7.898616  7.956498  7.836694  7.898510  2.943175e+06
               2018  8.195031  8.276302  8.119894  8.203718  2.518498e+06
               2019  6.914145  6.985218  6.847655  6.920400  2.248333e+06
Banco Sabadell 2015  1.947270  1.975297  1.917777  1.949484  2.997863e+07
               2016  1.360152  1.385202  1.334420  1.360918  2.694467e+07
               2017  1.683855  1.702169  1.662733  1.682235  2.303404e+07
               2018  1.473145  1.491953  1.456004  1.477016  2.000682e+07
               2019  0.983355  0.999591  0.967482  0.984391  2.919618e+07
BBVA           2015  7.965906  8.053254  7.875801  7.971301  2.718574e+07
               2016  5.558031  5.644401  5.469992  5.558261  3.073584e+07
               2017  7.105918  7.177608  7.035329  7.108329  2.022671e+07
               2018  6.016145  6.083251  5.963275  6.030561  2.007090e+07
               2019  5.193891  5.247273  5.133173  5.190782  2.956645e+07
Caixa Bank     2015  3.840012  3.890430  3.794086  3.844918  1.562117e+07
               2016  2.518327  2.564514  2.472412  2.519883  1.773086e+07
               2017  3.970431  4.016353  3.922235  3.968627  2.304271e+07
               2018  3.867216  3.912510  3.826667  3.875569  2.383404e+07
               2019  2.969727  3.005473  2.933836  2.972836  1.918136e+07

In [19]:
labels = ['2015', '2016', '2017', '2018', '2019']
santander = [sant['Close'].values[0],sant['Close'].values[1],sant['Close'].values[2],sant['Close'].values[3],sant['Close'].values[4]]
bankinter = [bank['Close'].values[0],bank['Close'].values[1],bank['Close'].values[2],bank['Close'].values[3],bank['Close'].values[4]]
sabadell = [sab['Close'].values[0],sab['Close'].values[1],sab['Close'].values[2],sab['Close'].values[3],sab['Close'].values[4]]
bbva = [bbva['Close'].values[0],bbva['Close'].values[1],bbva['Close'].values[2],bbva['Close'].values[3],bbva['Close'].values[4]]
caixa = [caixa['Close'].values[0],caixa['Close'].values[1],caixa['Close'].values[2],caixa['Close'].values[3],caixa['Close'].values[4]]

In [20]:

links=["https://www.marketwatch.com/investing/stock/san?countrycode=es",
      "https://www.marketwatch.com/investing/stock/bkt?countrycode=es",
      "https://www.marketwatch.com/investing/stock/sab?countrycode=es",
      "https://www.marketwatch.com/investing/stock/bbva?countrycode=es",
      "https://www.marketwatch.com/investing/stock/cabk?countrycode=es"]
names = ["Banco Santander","Banco Bankinter", "Banco Sabadell", "BBVA", "CaixaBank"]

In [21]:
actual = []
previous = []
for i in range(len(links)):
    res = requests.get(links[i])
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    actual.append(soup("span", class_="value")[0].text)
    previous.append(soup("td",class_="table__cell u-semi")[0].text)
    print("\n{}: Actual stock closed value: {} €".format(names[i],actual[i]))
    print("{}: Previous stock closed value: {} €".format(names[i],previous[i]))
    print(soup("span",class_="timestamp__time")[0].text)

Banco Santander: Actual stock closed value: 3.762 €
Banco Santander: Previous stock closed value: €3.846 €
Last Updated: Nov 8, 2019 5:38 p.m. CEST

Banco Bankinter: Actual stock closed value: 6.406 €
Banco Bankinter: Previous stock closed value: €6.54 €
Last Updated: Nov 8, 2019 5:38 p.m. CEST

Banco Sabadell: Actual stock closed value: 1.04 €
Banco Sabadell: Previous stock closed value: €1.048 €
Last Updated: Nov 8, 2019 5:38 p.m. CEST

BBVA: Actual stock closed value: 4.958 €
BBVA: Previous stock closed value: €4.989 €
Last Updated: Nov 8, 2019 5:38 p.m. CEST

CaixaBank: Actual stock closed value: 2.785 €
CaixaBank: Previous stock closed value: €2.798 €
Last Updated: Nov 8, 2019 5:38 p.m. CEST

In [46]:
url = "https://www.ine.es/prensa/ipc_tabla.htm"
res = requests.get(url)
html = res.text
soup = BeautifulSoup(html, 'html.parser')

In [47]:
search = soup.find_all("tr")
name = []
month = []
for i in range(3,len(search)):
    name.append(int(re.findall("\d{4}",search[i].text)[0]))
    month.append(re.findall("[-]?\d,\d",search[i].text)[0])
    
df = pd.DataFrame({"IPC":month,"Year":name})
df

      IPC  Year
0     0,0  2019
1    -0,1  2019
2    -0,6  2019
3    -0,1  2019
4     0,2  2019
..    ...   ...
136   0,7  2008
137   1,1  2008
138   0,9  2008
139   0,2  2008
140  -0,6  2008

[141 rows x 2 columns]

In [48]:
df = df[df.Year>2014]

for i in range(len(df["IPC"])):
    df["IPC"][i] = df["IPC"][i].replace(",",".")
    df["IPC"][i] = float(df["IPC"][i])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [52]:
d1 = df.groupby(df.Year).count()   
d2 = df.groupby(df.Year).sum()
d3 = df.groupby(df.Year).mean()

DataError: No numeric types to aggregate

In [51]:
d2

      IPC
Year
2015  0.1
2016  1.5
2017  1.1
2018  1.1
2019 -0.3